{% block head %}
  {% include "_head.html"%}
{% endblock %}


{% block content %}




{% include "_navigation_panel.html"%}
{% include "_messages_log.html"%}

    <div class="container">
      <h1>Договора ЮЛ</h1>
      {%for parent in parents %}
        <h4>{{ parent.indent|safe }}
          <IMG width="24" height="24" src="/static/images/child_corner.png">
          <a href="/agreements/{{ parent.row_id }}"  class="link-secondary">{{ parent.name }}</a></h4>
      {% endfor %}
    </div>

   <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Номер</th>
        <th>Название</th>
        <th>ИНН</th>
        <th>КПП</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
        <tr>
          <!--<td><a href="/form_render/agreement_form/{{ result.row_id }}"><b>{{ result.number }}</b></a></td>-->
          <td><a class = 'a' {% if result.number|length == 10 %}
                            onclick=" 
                                    RunInScreenForm( {form_name:`agreement_form`
                                                      ,
                                                      execute_after_load:`FillOutOrganizationForm(); Fill_Agreement_Periods_DropDownList();  Load_Data_Into_Agreement_Calc_View({{ result.row_id }}, periods[periods.length-1]);`
                                                      ,
                                                      request_link:`/agreement_form/{{ result.row_id }}`
                                                      });">
                          {% endif %}
                            <b>{{ result.number }}</b></a></td>
          <td>
            {% if result.number|length == 0 %}
              <a href="/agreements/{{ result.row_id }}">
              <b>
            {% endif %}

                {{ result.name }}
            {% if result.descendants_count>0 %}
              <sup class="text-success">{{ result.descendants_count }}</sup>
            {% endif %}
            {% if result.number|length == 0 %}
              </b></a>
            {% endif %}
          </td>

          <td>{{ result.inn }}</td>

          <td>{{ result.kpp }}</td>

        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}