 

<div class="row">
	<div class="col-4  m-1">

		<div class="row m-1">
			<div class="col-4">
			  <label class="form-label" for="Номер договора">Начало договора</label>
			</div>
			<div class="col">
			  <input class="form-control form_text_input" type="date"  value={{ fdata.agr_begin }} id = "Номер договора">
			</div>
		 </div>

		<div class="row  m-1">
            <div class="col-4">
              <label class="form-label" for="Доп.Номер">Окончание договора</label>
            </div>
            <div class="col">
              <input class="form-control form_text_input" type="date"  value="{{ fdata.agr_end }}" id = "Доп.Номер">
            </div>
        </div>			
		
		<div class="row  m-1">
			<div class="col-4">
			  <label class="form-label" for="Тип договора">Дата подписания</label>
			</div>
			<div class="col">
				<input class="form-control form_text_input" type="date"  value="{{ fdata.agr_sign_begin }}" id = "Доп.Номер">
			</div>
		  </div>


		<div class="row  m-1">
			<div class="col-4">
			  <label class="form-label" for="Дата расторжения">Дата расторжения</label>
			</div>
			<div class="col">
				<input class="form-control form_text_input" type="date"  value="{{ fdata.agr_sign_end }}" id = "Дата расторжения">
			</div>
		</div>


		<div class="row m-1" >
			<div class="col-4">
					<label class="form-label" for="Тип договора">Вид договора</label>
			</div>
			<div class="col">
					  <select class="form-select">
							{% for  tp in agreement_types_data %}
							  <option value="0" {% if fdata.agr_VD_id == tp.row_id %} selected {% endif %}>{{ tp.name }}</option>
							{% endfor %}
						</select>
			</div>
	    </div>

	</div>






	<div class="col">

		<div class="row  m-1">
			<div class="col-2">
				<label class="form-label" for="Категория">Категория</label>
			</div>    
			<div class="col input-group">
				<input class="form-control form_text_input" type="text"  value="{{ fdata.agr_category_name }}" aria-describedby="button-addon-Категория">
				<button class="btn btn-outline-secondary" type="button" id="button-addon-Категория">...</button>
			</div>
	     </div>

		 <div class="row  m-1">
			<div class="col-2">
				<label class="form-label" for="Отрасль">Отрасль</label>
			</div>    
			<div class="col input-group">
				<input class="form-control form_text_input" type="text"  value="{{ fdata.agr_OKVED_name }}" aria-describedby="button-addon-Отрасль">
				<button class="btn btn-outline-secondary" type="button" id="button-addon-Отрасль">...</button>
			</div>
	     </div>

		 <div class="row  m-1">
			<div class="col-2">
				<label class="form-label" for="Отрасль">Бюджет</label>
			</div>    
			<div class="col input-group">
				<input class="form-control form_text_input" type="text"  value="{{ fdata.agr_budget_name }}" aria-describedby="button-addon-Бюджет">
				<button class="btn btn-outline-secondary" type="button" id="button-addon-Бюджет">...</button>
			</div>
	     </div>

		 <div class="row  m-1">
			<div class="col-2">
				<label class="form-label" for="Отрасль">Муниципальное образование</label>
			</div>    
			<div class="col input-group">
				<input class="form-control form_text_input" type="text"  value="{{ fdata.municipalformation_name }}" aria-describedby="button-addon-Бюджет">
				<button class="btn btn-outline-secondary" type="button" id="button-addon-Бюджет">...</button>
			</div>
	     </div>

		 <div class="row  m-1">
			<div class="col-2">
				<label class="form-label" for="Отрасль">Телефон</label>
			</div>    
			<div class="col input-group">
				<input class="form-control form_text_input" type="text"  value="{{ fdata.phone }}" aria-describedby="button-addon-Бюджет">
			</div>
	     </div>

		 <div class="row  m-1">
			<div class="col-2">
				<label class="form-label" for="Отрасль">Адрес</label>
			</div>    
			<div class="col input-group">
				<input class="form-control form_text_input" type="text"  value="{{ fdata.address }}" aria-describedby="button-addon-Бюджет">
			</div>
	     </div>


		 <div class="row  m-1">
			<div class="col-2">
				<label class="form-label" for="Отрасль">Адрес доставки</label>
			</div>    
			<div class="col input-group">
				<input class="form-control form_text_input" type="text"  value="{{ fdata.address_delivery }}" aria-describedby="button-addon-Бюджет">
			</div>
	     </div>
	</div>


	<div class="row" >
		<div class="col-6" >
		<table class="table table-hover text-xsmall table-condensed table-responsive caption-top">
			<caption>Дополнительные параметры договора</caption>
			<thead>
			<tr class="table-secondary">
				<th>Название</th>
				<th>Значение</th>
				<th>Примечание</th>
				<th>ДатНач</th>
				<th>ДатКнц</th>
			</tr>
			</thead>
			<tbody>
			{% for row in agreement_parameters %}
			<tr {% if row.active==0 %}class="table-warning"{% endif %} style="font-size: 0.7rem;">
				<td>{{ row.name }}</td>
				<td>{{ row.value }}</td>
				<td>{{ row.text }}</td>
				<td>{{ row.date_begin }}</td>
				<td>{{ row.date_end }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>


	<div class="col" >
		<table class="table table-hover text-xsmall table-condensed table-responsive caption-top">
			<caption>Графики оплаты договора</caption>
			<thead>
			<tr class="table-secondary">
				<th>Действие графика с</th>
				<th>Действие графика по</th>
				<th>Дата платежа</th>
				<th>%</th>
			</tr>
			</thead>
			<tbody>
			{% for row in agreement_payments_scedule %}
			<tr {% if row.active==0 %}class="table-warning"{% endif %} style="font-size: 0.7rem;">
				<td>{{ row.date_begin }}</td>
				<td>{{ row.date_end }}</td>
				<td>{{ row.day }}</td>
				<td>{{ row.procent }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>



	</div>


</div>




