
{% block head %}
  {% include "_head.html"%}
{% endblock %}


{% block scripts %}
{% endblock scripts %}



{% block content %}

<h3>Данные договора</h3>

<form id="dialog_div"  style="margin: 20px; padding: 20px; background-color:#CFCFCF;" class="border border-3 rounded border-primary" method="" action="" >

  {% include "/forms/agreement_form/_form_top_part.html" %}

  <hr>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
        Характеристики
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
        Объекты договора
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">
        Расчет
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      {% include "/forms/agreement_form/_form_options.html" %}
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div>
  


</form>

{% endblock %}