
{% block head %}
  {% include "_head.html"%}
{% endblock %}

{% include "_navigation_panel.html"%}

{% block content %}

<form class="mform hidden" id="mform">
</form>
<div class="mform hidden" id="mdiv">
</div>


<h3>Конструктор отчётов</h3>

  <form id="report_designer_ul"  style="margin: 20px; padding: 20px; background-color:#CFCFCF;" class="border border-3 rounded border-primary">
    <div class="row">
        <div class="col-3">
          <h5 id="agreements_points_lable">Договора - Точки учета</h5>
          <select class="form-select" size="24" id="agreements_and_points_list">
            {% for  tp in agreement_types_data %}
              <option>{{ tp.name }}</option>
            {% endfor %}
          </select>
          <div class="row p-1">
            <div class="col-6 p-1">
              <div class="dropdown dropend">
              <button type="button" class="btn btn-primary col-12 dropdown-toggle" id="button_data_insert" id="AgreementPeriodsDropDownList" data-bs-toggle="dropdown" aria-expanded="false"><img width="24" height="24" src="/static/images/paste.png" align="left"> Добавить строки</button>
              <ul class="dropdown-menu dropdown-menu-dark " aria-labelledby="button_data_insert" id="button_data_insertDropMenu" data-agreementid="-==-">
                <li><a class="dropdown-item" href="#" onclick="InsertDataAgreementsFromClipboard_ShowInterface()">Договора из буфера обмена</a></li>
                <li><a class="dropdown-item" href="#" onclick="DataDesignerULAddOpenedAgreements();">Только действуюшие Договора</a></li>
                <li><a class="dropdown-item" href="#" onclick="DataDesignerULAddAllAgreements();">Все Договора</a></li>
                <li><a class="dropdown-item" href="#" onclick="">--------------------------------------------</a></li>
                <li><a class="dropdown-item" href="#" onclick="InsertDataPointsFromClipboard_ShowInterface();">Точки учёта из буфера обмена</a></li>
                <li><a class="dropdown-item" href="#" onclick="DataDesignerULAddAllPointsOfOpenedAgreements()">Только Точки учёта связанные с открытыми Договорами</a></li>
                <li><a class="dropdown-item" href="#" onclick="DataDesignerULAddAllPoints();">Все Точки учёта</a></li>
              </ul>
              </div>
            </div>


            <div class="col-6 p-1">
              <button type="button" class="btn btn-warning col-12" id="button_data_clear" onclick="ClearSourceDataonServer();ClearSourceData();"><img width="24" height="24" src="/static/images/clear.png" align="left">Очистить</button>
            </div>
          </div>
        </div>

        <div class="col-9 px-4">
          <h5 id="parameters_lable">Добавляемые поля</h5>
          <select class="form-select" size="24" id="added_fields_list">
          </select>

          <div class="row p-1">



            <div class="col-2 p-1">
              <div class="dropdown dropend">
              <button type="button" class="btn btn-primary col-12 dropdown-toggle" id="button_parameters_of_agremeents_insert" id="AgreementPeriodsDropDownList" data-bs-toggle="dropdown" aria-expanded="false"><img width="24" height="24" src="/static/images/add.png" align="left">Договор</button>
              <ul class="dropdown-menu dropdown-menu-dark " aria-labelledby="button_parameters_of_agremeents_insert" id="button_data_insertDropMenu" data-agreementid="-==-">
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_names', 'name':'Название договора'}); ">Название договора</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_date_begin', 'name':'Дата начала договора'}); ">
                                                                                                                      Дата начала договора</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_date_begin_sign', 'name':'Дата подписания договора'}); ">
                                                                                                                      Дата подписания договора</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_date_end', 'name':'Дата окончания договора'}); ">
                                                                                                                      Дата окончания договора</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_date_end_sign', 'name':'Дата расторжения договора'}); ">
                                                                                                                      Дата расторжения договора</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_orul', 'name':'Ответственный Расчеты'}); ">
                                                                                                                                        Ответственный Расчеты</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_odrul', 'name':'Ответственный Договор'}); ">
                                                                                                                                        Ответственный Договор</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_manager', 'name':'Ответственный Менеджер'}); ">
                                                                                                                                        Ответственный Менеджер</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_folder', 'name':'Отделение'}); ">
                                                                                                                                        Отделение</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_department', 'name':'Участок'}); ">
                                                                                                                                        Участок</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_budget', 'name':'Бюджет договора'}); ">
                                                                                                                                        Бюджет</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_vd', 'name':'Вид договора'}); ">
                                                                                                                                        Вид договора</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_ot', 'name':'Отрасль договора'}); ">
                                                                                                                                        Отрасль договора</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_category', 'name':'Категория договора'}); ">
                                                                                                                                        Категория договора</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_lk', 'name':'Наличие у договора ЛК'}); ">
                                                                                                                                        Наличие у договора ЛК</a></li>

              </div>
            </div>

            <div class="col-2 p-1">
              <div class="dropdown dropend">
              <button type="button" class="btn btn-primary col-12 dropdown-toggle" id="button_parameters_of_gr_insert" id="AgreementPeriodsDropDownList" data-bs-toggle="dropdown" aria-expanded="false"><img width="24" height="24" src="/static/images/add.png" align="left">Грузополучатель</button>
              <ul class="dropdown-menu dropdown-menu-dark " aria-labelledby="button_parameters_of_gr_insert" id="button_data_insertDropMenu" data-agreementid="-==-">
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_address_gr', 'name':'Адрес договора из Грузополучателя'}); ">
                                                                                                                    Адрес договора</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_address_fact_gr', 'name':'Адрес фактический договора из Грузополучателя'}); ">
                                                                                                                    Адрес фактический договора</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_phone_gr', 'name':'Телефоны Грузополучателя'}); ">
                                                                                                                      Телефоны</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_inn_gr', 'name':'ИНН Грузополучателя'}); ">
                                                                                                                      ИНН</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_ogrn_gr', 'name':'ОГРН Грузополучателя'}); ">
                                                                                                                      ОГРН</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_organizaion_type_gr', 'name':'Тип Организации Грузополучателя'}); ">
                                                                                                                      Тип Организации</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_organizaion_vid_gr', 'name':'Вид Организации Грузополучателя'}); ">
                                                                                                                      Вид Организации</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_organizaion_email_gr', 'name':'E-mail Грузополучателя'}); ">
                                                                                                                      E-mail</a></li>

              </ul>
              </div>
            </div>
  

            <div class="col-2 p-1">
              <div class="dropdown dropend">
              <button type="button" class="btn btn-primary col-12 dropdown-toggle" id="button_parameters_of_pl_insert" id="AgreementPeriodsDropDownList" data-bs-toggle="dropdown" aria-expanded="false"><img width="24" height="24" src="/static/images/add.png" align="left">Плательщик</button>
              <ul class="dropdown-menu dropdown-menu-dark " aria-labelledby="button_parameters_of_pl_insert" id="button_data_insertDropMenu" data-agreementid="-==-">
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_address_pl', 'name':'Адрес договора из Плательщика'}); ">
                                                                                                                      Адрес договора</a></li>
                 <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_address_fact_pl', 'name':'Адрес фактический договора из Плательщика'}); ">
                                                                                                                      Адрес фактический договора</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_phone_pl', 'name':'Телефоны Плательщика'}); ">
                                                                                                                        Телефоны</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_inn_pl', 'name':'ИНН Плательщика'}); ">
                                                                                                                        ИНН</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_kpp_pl', 'name':'КПП Плательщика'}); ">
                                                                                                                        КПП</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_ogrn_pl', 'name':'ОГРН Плательщика'}); ">
                                                                                                                        ОГРН</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_organizaion_type_pl', 'name':'Тип Организации Плательщика'}); ">
                                                                                                                         Тип Организации</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_organizaion_vid_pl', 'name':'Вид Организации Плательщика'}); ">
                                                                                                                      Вид Организации</a></li>
                <li><a class="dropdown-item" href="#" onclick="Add_Parameter({'type':'agreement_organizaion_email_pl', 'name':'E-mail Плательщика'}); ">
                                                                                                                      E-mail</a></li>

              </ul>
              </div>
            </div>



            <div class="col-3 p-1">
              <button type="button" class="btn btn-primary col-12" id="button_data_clear" onclick="ClearSourceDataonServer();ClearSourceData();"><img width="24" height="24" src="/static/images/add.png" align="left">Точки учета</button>
            </div>

          
            <div class="col-3 p-1">
              <button type="button" class="btn btn-primary col-12" id="button_data_clear" onclick="ClearSourceDataonServer();ClearSourceData();"><img width="24" height="24" src="/static/images/add.png" align="left">Приборы учета</button>
            </div>

          </div>

          <div class="row p-1">

            <div class="col-4 p-1">
              <button type="button" class="btn btn-success col-12" id="button_data_clear" onclick="GetDesdignerULExcelResult();"><img width="24" height="24" src="/static/images/excel.png" align="left">Вывести в Excel</button>
            </div>


            <div class="col-4 p-1">
              <button type="button" class="btn btn-secondary col-12" id="button_data_clear" onclick="ClearSourceDataonServer();ClearSourceData();"><img width="24" height="24" src="/static/images/repeat.png" align="left">Повторить</button>
            </div>


            <div class="col-4 p-1">
              <button type="button" class="btn btn-warning col-12" id="button_data_clear" onclick="ClearSourceDataonServerParameters();ClearSourceDataParameters();GetSourceFromServerParameters();"><img width="24" height="24" src="/static/images/clear.png" align="left">Очистить</button>
            </div>

          </div>

          

        </div>

    </div>

  </form>


{% endblock %}