
  .dynamic-form {
    width: 95%;
    /* height: 95%; */
    position: fixed;
    left: 2.5%;
    background-color: white;
    border: 1px solid #2426c2;
    border-radius: 15px;
    top:max(50px, 10%);
    overflow-y: auto;
    max-height: 90%;
    background-image: url('/static/images/background.gif');
  }


  .hidden {
    display: none;
  }
  
  .mform {
    gap: 0.4rem;
    width: 95%;
    padding: 1.3rem;
    max-height: 85%;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 2.5%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
  }

  .mform .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mform input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
  }

  .mform p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
  }



  
  /* Стили для блока сообщений */
  #messageLog {
	  width: 100%;
	  max-height: 200px;
	  overflow-y: auto;
	  border: 1px solid #ccc;
	  opacity: 1;
	  padding: 10px;
	  margin-top: 20px;
	  position: fixed;
	  bottom: 0;
	  right: 0;
	  z-index: -101;
  }

  /* Стили для отдельного сообщения */
  .message {
	  margin-bottom: 5px;
	  padding: 5px;
	  border-radius: 5px;
    font-size: medium;
  }




  .message_log_datetime{
	color: rgb(15, 118, 158);
	font-size: medium;
}

.message_log_report_name{
	color: rgb(5, 100, 60);
	font-size: medium;
	font-weight: bolder;
}

.message_log_report_name_excel{
	color: rgb(101, 190, 153);
	font-size: medium;
	font-weight: bolder;
}

.message_log_report_name_table{
	color: rgb(36, 112, 175);
	font-size: medium;
	font-weight: bolder;
}


.message_log_designer_ul_name{
	color: rgb(139, 110, 29);
	font-size: medium;
	font-weight: bolder;
}

@keyframes rowborderAnimation {
  0% {
    border-color: cadetblue;
  }
  50% {
    border-color: blue;
  }
  75% {
    border-color: darkblue;
  }
  100% {
    border-color: blue;
  }
}
.new_message
 {
  border: 2px dashed;
  animation: rowborderAnimation 1s infinite;
}