
  .dynamic-form {
    width: 95%;
    height: 95%;
    position: fixed;
    z-index: 2;
    left: 2.5%;
    background-color: white;
    border: 1px solid #2426c2;
    border-radius: 15px;
    top:max(50px, 10%);
  }


  .hidden {
    display: none;
  }