<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
            {% if title %}{{ title }}{% else %}{% endif %}
          {% endblock %}
    </title>
    <link rel="icon" type="image/svg" href="/static/images/favicon.ico"> 
    <link href="{{url_for('static', filename = 'css/bootstrap/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'css/css.css')}}" rel="stylesheet">
</head>

<style>
</style>



<!--<script src="/static/js/jQuery/jquery-3.7.1.js"></script>-->
<script src="/static/js/bootstrap/bootstrap.js"></script>

<script type="text/javascript" src="/static/js/jQuery/jquery-3.7.1.js"></script>
<script type="text/javascript" src="/static/js/jQuery/ui.core.js"></script>
<script type="text/javascript" src="/static/js/jQuery/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/jQuery/jquery.scroll-follow.js"></script>

<script type="text/javascript" src="/static/js/forms.js" defer></script>




