
      {% for report in reports %}
      <div class="card">
        
        <div class="card-body">
          <h4 class="card-title">
            {{ report.name }}
          </h4>
          <a href="{{ report.path }}"> <img src="{{ report.icon }}" with="64" height="64"></a>&nbsp;&nbsp;&nbsp;&nbsp;
          
          {% if report.history_link is defined %}
          
          <a href="{{ report.history_link }}"  class="card-link">
              <IMG WIDTH="64" HEIGHT="64"  title = "История" src="/static/images/history.png">
              {% if report.history_records_count is defined %}
                {{ report.history_records_count }}
              {% endif %}
            </a>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
          {% endif %}
          
          {% if report.delete_link is defined %}
            <a href="{{ report.delete_link }}"><IMG WIDTH="64" HEIGHT="64"  title = "Удалить" src="/static/images/delete.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;
          {% endif %}

        </div>
      </div>
  
{% endfor %}
    

