   <table border="1" class="dataframe table">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for report in reports %}
        <tr>
          <td align="left"><a href="{{ report.path }}"><img src="{{ report.icon }}" with="32" height="32"> {{ report.name }}</a></td>
          {% if report.delete_link is defined %}
            <td align="right"><a href="{{ report.delete_link }}"><IMG WIDTH="32" HEIGHT="32"  title = "Удалить" src="/static/images/delete.png"></a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

