
<nav class="navbar sticky-top bg-body-tertiary" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/">
      <IMG WIDTH="64" HEIGHT="64"  title = "В начало" src="/static/images/home.png">
    </a>
    <a class="navbar-brand" onclick="javascript:history.back(); return false;">
      <IMG  WIDTH="64" HEIGHT="64"  title = "Назад" src="/static/images/back.png">
    </a>
    <a class="navbar-brand" href="/report_history/{{ report_name }}">
      <IMG WIDTH="64" HEIGHT="64"  title = "Список ранее формировавшихся отчетов" src="/static/images/list.png">
    </a>
    <a class="navbar-brand" href="/download_excel/{{ data_object_id }}">
      <IMG WIDTH="64" HEIGHT="64"  title = "Скачать" src="/static/images/excel.png">
    </a>
  </div>
</nav>
