
<nav class="navbar sticky-top bg-body-tertiary" role="navigation">
  <div class="container">
    {% for button in navigation_buttons %}
        <a class="navbar-brand" 

      {% if button.href is defined %}
        {% if button.onclick|length>1 %}
        
        {% else %}
            href="{{ button.href }}"
        {% endif %}
      {% endif %} 

      {% if button.onclick is defined %}
        onclick="{{ button.onclick }}"
      {% endif %} 
      >
      <IMG  WIDTH="64" HEIGHT="64"  title = "{{ button.title }}" src="/static/images/{{ button.src }}">
    </a>
    {% endfor %}
  </div>
</nav>
