<table border="1" class="dataframe table">
  <tbody>
    <tr>
      <td><a href="/"><IMG WIDTH="64" HEIGHT="64"  title = "В начало" src="/static/images/home.png"></a></td>
      <td align="left"><a onclick="javascript:history.back(); return false;"><IMG  WIDTH="64" HEIGHT="64"  title = "Назад" src="/static/images/back.png"></a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td align="right"><a href="/report_history/{{ report_name }}"><IMG WIDTH="64" HEIGHT="64"  title = "Список ранее формировавшихся отчетов" src="/static/images/list.png"></a></td>
      <td align="right"><a href="/download_excel/{{ data_object_id }}"><IMG WIDTH="64" HEIGHT="64"  title = "Скачать" src="/static/images/excel.png"></a></td>
    </tr>
</tbody>
</table>