
{% block head %}
  {% include "_head.html"%}
{% endblock %}


{% block scripts %}
{% endblock scripts %}

<style>
.form_text_input{
  text-align: right;

  font-weight: bold;
}
</style>
{% block content %}

{% include "_navigation_panel.html"%}


<div class="container">
  <h1>Договора ЮЛ</h1>
  {%for parent in parents %}
    <h4>{{ parent.indent|safe }}
      <IMG width="24" height="24" src="/static/images/child_corner.png">
      <a href="/agreements/{{ parent.row_id }}"  class="link-secondary">{{ parent.name }}</a></h4>
  {% endfor %}
</div>


<form id="dialog_div"  style="margin: 20px; padding: 20px;" class="border border-3 rounded border-primary" method="" action="" >
  <!-- header of agreement with number and two organizations-->
  <div class="row">
    
    <div class="col-4">

      <div class="row">
        
        <div class="col">
          <label for="Номер договора">Номер договора</label>
        </div>
        
        <div class="col">
          <input class="form_text_input" type="text"  value="123">
        </div>

      </div>
    

    </div>


      
      <div class="col-2">
          4
      </div>    
      
      <div class="col-6">
          8

      </div>

  </div>


</form>

{% endblock %}