
{% block head %}
  {% include "_head.html"%}
{% endblock %}


{% block content %}
    <div class="container">
      {% if current_user.is_authenticated %}
      <h1><a href="/page_with_items/-10"><img width="30" height="30" src="/static/images/Print_20x20.bmp"> Отчёты</a></h1>
      <h1><a href="/addresses/-10"><img width="30" height="30" src="/static/images/addresses_pull.png"> Адресный фонд</a></h1>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <p><a href="/parameters_dialog/">Проверка диалога с произвольными параметрами</a></p>
      <hr>
      <hr>
      <hr>
      <p><a href="/drop_all/">Удалить все таблицы</a></p>
      <p><a href="/create_all/">Создать все таблицы</a></p>
      <p><a href="/import_data/">Импортировать записи</a></p>
      <hr>
      <hr>
      <hr>
      <a href="/logout">Logout</a>
      {% else %}
      <h1>Вход в систему не выполнен</h1>
      <hr>
      <nav>
        <ul>
          <li><a href="/login"><img width="40" height="30" src="/static/images/enter.png"> Войти</a></li>
          <br>
          <li><a href="/register"><img width="40" height="30" src="/static/images/exit.png"> Зарегистрироваться</a></li>
        </ul>
      </nav>
      {% endif %}
      <hr>
      <hr>
      <hr>
    </div>
{% endblock %}

