
{% block head %}
  {% include "_head.html"%}
{% endblock %}



{% block content %}


<form class="mform hidden" id="mform" method="POST">

</form>


    <div class="container">
      {% if current_user.is_authenticated %}
      <h1><a href="/page_with_items/-10"><img width="30" height="30" src="/static/images/printer.png"> Отчёты</a></h1>
      <h1><a href="/agreements/-10"><img width="30" height="30" src="/static/images/agreements.png"> Договора</a></h1>
      <h1><a href="/addresses/-10"><img width="30" height="30" src="/static/images/addresses_pull.png"> Адресный фонд</a></h1>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <a href="/agreement_form/117246"><input class="btn btn-primary" id="test_button" type="button" value="test 1" /></a>
      <a href="/organization_form/48178"><input class="btn btn-primary" id="test_button" type="button" value="test 2" /></a>
      <a onclick="RunInScreenForm(`organization_form`, `FillOutOrganizationForm()`, `/organization_form/48178`);"><input class="btn btn-primary" id="test_button" type="button" value="test Organization" /></a>
      <a onclick="RunInScreenForm(`agreement_form`, `FillOutOrganizationForm(); Fill_Agreement_Periods_DropDownList();`, `/agreement_form/117246`);"><input class="btn btn-primary" id="test_button" type="button" value="test Agreement" /></a>

      <a onclick="RunInScreenForm(`agreements_search`, `FillOutOrganizationForm(); $('#form_text_input_for_agreements_search').focus();`, `/agreement_search_form`);"><input class="btn btn-primary" id="test_button" type="button" value="test search" /></a>
      <!--<p><a href="/parameters_dialog/">Проверка диалога с произвольными параметрами</a></p>-->
      <hr>
      <hr>
      <hr>
      <!--
      <p><a href="/drop_all/">Удалить все таблицы</a></p>
      <p><a href="/create_all/">Создать все таблицы</a></p>
      <p><a href="/import_data/">Импортировать записи</a></p>
      -->
      <hr>
      <hr>
      <hr>
      <a href="/logout"><img width="40" height="30" src="/static/images/exit.png"> Выход из системы</a>
      {% else %}
      <h1>Вход в систему не выполнен</h1>
      <hr>
      <nav>
        <ul>
          <li><a href="/login"><img width="40" height="30" src="/static/images/enter.png"> Войти</a></li>
          <br>
          <li><a href="/register"><img width="40" height="30" src="/static/images/registration.png"> Зарегистрироваться</a></li>
        </ul>
      </nav>
      {% endif %}
      <hr>
      <hr>
      <hr>
    </div>
{% endblock %}

