
{% block head %}
  {% include "_head.html"%}
{% endblock %}


{% block content %}


<div class="container">
  <div class="row">
    <div class="text-end">
    <li><a href="/login">Войти в систему</a></li>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
<h1>Зарегистрироваться</h1>
</div>
</div>
<hr>

    <form action="#" method="post">
      <div class="container">
        <div class="row">
          <div class="col">

      <label for="username">Пользователь:</label>
    </div>
    <div class="col">


      <input class="container-fluid" type="text" name="username" />
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
      <div class="col">
      <label for="password">Пароль:</label>
    </div>
    <div class="col">

      <input class="container-fluid" type="password" name="password" />
    </div>
  </div>
</div>

<hr>
<hr>

<div class="container">
  <div class="row">
      <button type="submit" class="btn btn-primary btn-lg btn-block" >Зарегистрироваться</button>
    </div>
  </div>



    </form>
  </body>
</html>
{% endblock %}