{% block head %}
  {% include "_head.html"%}
{% endblock %}


{% block content %}


    <table border="1" class="dataframe table">
      <tbody>
        <tr>
          <td align="left"><a onclick="javascript:history.back(); return false;"><IMG  WIDTH="64" HEIGHT="64"  title = "Назад" src="/static/images/back.png"></a></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td align="right"><a href="/report_history/{{ report_name }}"><IMG WIDTH="64" HEIGHT="64"  title = "Список ранее формировавшихся отчетов" src="/static/images/list.png"></a></td>
          <td align="right"><a href="/download_excel/{{ data_object_id }}"><IMG WIDTH="64" HEIGHT="64"  title = "Скачать" src="/static/images/excel.png"></a></td>
        </tr>
    </tbody>
  </table>

  <div class="container">
    <h1>{{ report_title }}</h1>
  </div>


    {% autoescape false %}
      {{ data }}
    {% endautoescape %}
    
{% endblock %}