{% block head %}
  {% include "_head.html"%}
{% endblock %}



{% block content %}

  {% include "_navigation_panel.html"%}

  <form class="mform hidden" id="mform" method="POST">

  </form>
  
    <div class="container">
      <h1>{{ list_title }}</h1>
      {%for parent in parents %}
      <h4>{{ parent.indent|safe }}
        <IMG width="24" height="24" src="/static/images/child_corner.png">
        <a href="/page_with_items/{{ parent.row_id }}" class="link-secondary">{{ parent.name }}</a></h4>
      {% endfor %}
    </div>
    {% include "_items_of_page.html"%}
{% endblock %}