{% block head %}
  {% include "_head.html"%}
{% endblock %}


{% block content %}
    <a onclick="javascript:history.back(); return false;"><IMG  WIDTH="64" HEIGHT="64"  title = "Назад" src="/static/images/back.png"></a>
    <div class="container">
      <h1>Адресный фонд</h1>
    </div>

   <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Лицевой</th>
        <th>Название</th>
        <th>Чек</th>
        <th>Сумма</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
        <tr>
          <td>{{ result.number }}</td>
          <td><a href="/addresses/{{ result.row_id }}">{{ result.address }}</a></td>
          {% if result.number|length == 12 %}
          <td><input type="text" name="order" id="order"></td>
          <td><input type="text" name="money" id="money"></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}