{% extends 'bootstrap/base.html' %}


{% block title %}
    {% if title %}{{ title }}{% else %}Welcome to AISpy{% endif %}
{% endblock %}


{% block content %}
    <div class="container">
      <h1>Отчёты</h1>
    </div>

   <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for report in reports %}
        <tr>
          <td><a href="/report/{{ report.path }}"><img src="{{ report.icon }}" with="32" height="32"> {{ report.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}